.wrapper {
  display: grid;
  grid-template: "header  header " auto
                 "sidenav title  " auto
                 "sidenav content" 1fr / 200px 1fr;
  height: 100%;
  width: 100%
}

.header_wrapper {
  grid-area: header;
  height: auto;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

.sidenav_wrapper {
  grid-area: sidenav;
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

.title_wrapper {
  grid-area: title;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.content_wrapper {
  grid-area: content;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.header {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

.sidenav {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

.title {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

