<layout [title]="'Items'">
  <div class="content_wrapper">
    @let currentState = state();
    @switch (currentState.type) {
      @case ("PRE_INITIALIZED") {
        <span>Initializing...</span>
      }
      @case ("INITIALIZED") {
        <button mat-icon-button (click)="openCreateItemDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button type="submit" [disabled]="cooldown()" form="searchForm">
          <mat-icon>refresh</mat-icon>
        </button>
        <form id="searchForm" [formGroup]="formGroup" (ngSubmit)="reloadItems()">
          <mat-form-field>
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </form>
        <table mat-table [dataSource]="currentState.items" [trackBy]="trackTableRowById">
          <ng-container matColumnDef="actions">\
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="openWarningDialog(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['name', 'id', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'id', 'actions'];"></tr>
        </table>
      }
    }
  </div>
</layout>
