.content_wrapper {
  padding: var(--base-padding);
}

.mat-column-actions {
  width: 120px;
}

.mat-column-name, .mat-column-id {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}
